---
export interface Props{
    description: string
    dates: string
    bussinesName: string
    title: string
}

const { description, dates, bussinesName, title } = Astro.props
---
<li class="mb-10 ml-6">            
    <span class="absolute flex items-center justify-center w-8 h-8 bg-orange-200 rounded-full -left-4 ring-4 ring-white dark:ring-orange-300 dark:bg-orange-500">
        <svg aria-hidden="true" class="w-5 h-5 text-orange-900 dark:text-orange-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
    </span>
    <h2 class="font-bold leading-tight text-gray-800  text-lg">
        {title}
    </h2>
    <h3 class="text-sm text-gray-700">{bussinesName}</h3>
    <p class="text-sm">{dates} </p>
    <p class="text-sm mt-2 text-gray-700">{description}</p>
</li>