---
import TimelineStepper from "./TimelineStepper.astro";

---

<div class="px-8 md:px-60 py-28 bg-gray-200">
  <h2 class=" text-3xl text-center mb-12 border-b-4 border-orange-300 pb-4">
    Work experience
  </h2>  
  
  <ol class="relative text-gray-700 border-l border-gray-200 dark:border-orange-400 dark:text-gray-400">  
    <TimelineStepper 
      title="Software developer"    
      bussinesName="Laika Mascotas"
      dates="sept. 2020 - "
      description="Development of applications in laravel and vuejs for internal users. Development of stored procedures in mysql. Development of commands for replicas of promotions and different products."
    />           
  </ol>

</div>