---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer/Footer.astro";
import Hero from "../components/Hero.astro";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import WorkExperience from "../components/WorkExperience/WorkExperience.astro";
---

<Layout title="Home | gt2rz.dev">
  <header class="fixed w-full mt-0 top-0 bg-white">
    <Navbar />
  </header>
  <main class="w-full">
    <Hero />
    <WorkExperience />
  </main>
  <Footer />
</Layout>