---
import SubscribeNewsletter from "./SubscribeNewsletter.astro";
import SocialNetworksIcons from "./SocialNetworksIcons.astro";
import Copyright from "./Copyright.astro";
import FooterDescription from "./FooterDescription.astro";
import FooterLinks from "./FooterLinks.astro";
---

<footer class="text-center bg-gray-900 text-white">
  <div class="container px-6 pt-6">
    <SocialNetworksIcons />
    <SubscribeNewsletter />
    <FooterDescription />
    <FooterLinks />
  </div>
  <Copyright />
</footer>
