---
import FacebookIcon from "../icons/FacebookIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import GoogleIcon from "../icons/GoogleIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
---

<div class="flex justify-center mb-6">
  <a
    href="#!"
    type="button"
    class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1"
  >
    <FacebookIcon />
  </a>

  <a
    href="#!"
    type="button"
    class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1"
  >
    <TwitterIcon />
  </a>

  <!-- <a href="#!" type="button" class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
      <GoogleIcon.astro />
    </a> -->

  <a
    href="#!"
    type="button"
    class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1"
  >
    <InstagramIcon />
  </a>

  <a
    href="#!"
    type="button"
    class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1"
  >
    <LinkedinIcon />
  </a>

  <a
    href="#!"
    type="button"
    class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1"
  >
    <GithubIcon />
  </a>
</div>
